.pagenotfound {
    text-align: center;
    margin: 30px 0;
}

.pagenotfound a {
    color: #fff;
    text-decoration: none;
}
.pagenotfound a:hover {
    color: #fff;
}
.pagenotfound button {
    margin: 30px 0;
}